.shopButtons ion-card {

    width: 35vw;
    max-width: 35vw;
    min-width: 35vw;
    height: 35vw;
    max-height: 35vw;
    min-height: 35vw;

}

.buttonText {

    align-items: center;
    text-align: center;
    justify-content: center;

}

.overlay { // https://www.w3schools.com/howto/howto_css_overlay.asp

    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;

}

.cardOverlay {

    max-height: 90vh;
    height: 90vh;
    min-height: 90vh;

    max-width: 80vw;
    width: 80vw;
    min-width: 80vw;

}

.overlayDiv {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}