.shopButtons ion-card {

    width: 35vw;
    max-width: 35vw;
    min-width: 35vw;
    height: 35vw;
    max-height: 35vw;
    min-height: 35vw;

}

.buttonText {

    align-items: center;
    text-align: center;
    justify-content: center;

}