.entrees {

    width: 35vw;
    max-width: 35vw;
    min-width: 35vw;
    height: 30vw;
    max-height: 30vw;
    min-height: 30vw;

    padding-top: 20px;

    background-color: #D9D9D9;
    color: black;

}