<head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap" rel="stylesheet">
  
</head>

<ion-content [fullscreen]="true" class="background">
  
  <div class="widthCentering backgroundOverlay">

    <div style="font-family: 'Dr Sugiyama', sans-serif; font-size: 30px; margin-top: 120px;"> TOLEVSKIES </div>
    <div style="margin-bottom: 20px; font-family: 'Dr Sugiyama', sans-serif; font-size: 25px;"> Lucky Dip </div>

    <ion-row>

      <ion-card class="entrees" style="font-family: 'Verdana', sans-serif; padding-bottom:100px;">

        Number of <br /> Entries: <br /> <br />
        {{this.rollEntries}} 

      </ion-card>

      <ion-card class="entrees" style="font-family: 'Verdana', sans-serif; padding-bottom:100px;">

        <div> 
        Time Until <br /> Next Entry <br />
        (DD:HH:MM): <br /> <br />
        {{this.timerText}} 
        </div>
        
      </ion-card>

    </ion-row>
    
    <div style="margin-top: 80px;">

      <ion-img src="./assets/images/chestShop.png/" (click)="roll()" *ngIf="rollEntries > 0"></ion-img>
      <ion-img src="./assets/images/chestShop.png/" (click)="cantRoll()" *ngIf="!(rollEntries > 0)"></ion-img> 
    
    </div>

    <div *ngIf="itemRolled" style="margin-top: 10px;"> You have won {{itemWon}} </div>
    <div *ngIf="!canRoll" style="margin-top: 10px;"> You do not have any roll entries left. </div>

  </div>

</ion-content>


<ion-footer> 

  <ion-row> <ion-toolbar> 

    <ion-segment value="luckydip">

      <ion-segment-button value="home" (click)="goHome()">

        <ion-img src="./assets/images/footerHome.png/" class="footerIcon"></ion-img>
        <ion-label> Home </ion-label>

      </ion-segment-button>

      <ion-segment-button value="flights" (click)="goFlights()">

        <ion-img src="./assets/images/footerTickets.png/" class="footerIcon"></ion-img>
        <ion-label> Flights </ion-label>

      </ion-segment-button>

      <ion-segment-button value="shop" (click)="goShop()">

        <ion-img src="./assets/images/footerShop.png/" class="footerIcon"></ion-img>
        <ion-label> Shop </ion-label>

      </ion-segment-button>
    
      <ion-segment-button value="bag" (click)="goBag()">

        <ion-img src="./assets/images/footerBag.png/" class="footerIcon"></ion-img>
        <ion-label> Bag </ion-label>

      </ion-segment-button>

      <ion-segment-button value="luckydip" (click)="goLuckyDip()">

        <ion-img src="./assets/images/footerLuckyDip.png/" class="footerIcon"></ion-img>
        <ion-label> Lucky Dip </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar> </ion-row>

</ion-footer>