<ion-content [fullscreen]="true">
  
  <div class="centered">

    <div> INSERT IMAGE HERE </div> <br />

    <div> FILL IN THE DETAILS BELOW TO SIGN <br /> UP AND BE PART OF</div> <br />

    <div> Tolevskies </div> <br />

    <div style="margin-top: 20px;">

      <span class="classText">First Name:</span> 
      <ion-item class="classItem">

        <ion-input class="classInput"></ion-input>

      </ion-item>

      <span class="classText">Date of Birth:</span>
      <ion-item class="classItem">

        <ion-input class="classInput"></ion-input>

      </ion-item>

      <span class="classText">Email Address:</span>
      <ion-item class="classItem">

        <ion-input class="classInput"></ion-input>

      </ion-item>

      <span class="classText">Phone Number: </span>
      <ion-item class="classItem">

        <ion-input class="classInput"></ion-input>

      </ion-item>

    </div>

    <div>

      <ion-button shape="round" class="classButton" (click)="signup()">Sign Up</ion-button>
      <ion-button shape="round" class="classButton separateButtons" (click)="startupPage()">Back</ion-button>
  
    </div>


  </div>

</ion-content>
