<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Zen+Dots&display=swap" rel="stylesheet">
</head>

<ion-content [fullscreen]="true" class="background">
  
  <div class="backgroundOverlay">

  <ion-button (click)="signOut()" class="signoutButton"> Sign Out </ion-button>

  <div class="widthCentering" style="margin-top: 10px;">

    <ion-card class="cardWidth">

      <ion-row>

        <ion-col style="align-items: center; justify-content: center; display: flex;">

          <ion-img src="./assets/images/mainmenuIcon.png/" class="mainmenuIcon"></ion-img>

        </ion-col>

        <ion-col style="font-family: 'DotGothic16', sans-serif; color: white;">

          <span style="font-size: 25px;"> {{firstName}} <br /> {{lastName}} </span> <br />

          <span style="font-size: 20px;">

          <img src="./assets/images/coin.png/" class="coinImg" /> {{points}} <br />

          Tier: {{membership}}

          </span>

        </ion-col>

      </ion-row>

    </ion-card>

    
    <ion-card style="display: block; padding: 10px; color: white; background-color: rgba(0,0,0,0.6);">

      <span style="font-family: 'Zen Dots', sans-serif; font-weight: bold;"> Trending Now </span>

    </ion-card>

    <ion-card style="padding: 15px;" class="cardWidth">

      <img src="./assets/images/chestShop.png/" style="margin-bottom: 10px;" /> <br />

      <span style="font-family: 'Zen Dots', sans-serif; font-size: 10px; color: white;"> Try our Lucky Dip for a chance to win in-flight 
        rewards including an upgrade to a first class ticket. </span>


    </ion-card>

    <ion-card style="padding: 15px;" class="cardWidth">

      <img src="./assets/images/bagsShop.png/" style="margin-bottom: 10px;" /> <br />

      <span style="font-family: 'Zen Dots', sans-serif; font-size: 10px; color: white;"> Shop for points or with your points to buy 
        Lucky Dips and exclusive flight perks and yeah Tolevskies Merch </span>


    </ion-card>






  </div>

  </div>

</ion-content>

<ion-footer> 

  <ion-row> <ion-toolbar>  

    <ion-segment value="home">

        <ion-segment-button value="home" (click)="goHome()">

          <ion-img src="./assets/images/footerHome.png/" class="footerIcon"></ion-img>
          <ion-label> Home </ion-label>

        </ion-segment-button>

        <ion-segment-button value="flights" (click)="goFlights()">

          <ion-img src="./assets/images/footerTickets.png/" class="footerIcon"></ion-img>
          <ion-label> Flights </ion-label>

        </ion-segment-button>

        <ion-segment-button value="shop" (click)="goShop()">

          <ion-img src="./assets/images/footerShop.png/" class="footerIcon"></ion-img>
          <ion-label> Shop </ion-label>

        </ion-segment-button>
      
        <ion-segment-button value="bag" (click)="goBag()">

          <ion-img src="./assets/images/footerBag.png/" class="footerIcon"></ion-img>
          <ion-label> Bag </ion-label>

        </ion-segment-button>

        <ion-segment-button value="luckydip" (click)="goLuckyDip()">

          <ion-img src="./assets/images/footerLuckyDip.png/" class="footerIcon"></ion-img>
          <ion-label> Lucky Dip </ion-label>

        </ion-segment-button>

    </ion-segment>

  </ion-toolbar> </ion-row>

</ion-footer>
