.cardWidth {

    min-width: 102vw;
    width: 102vw;
    max-width: 102vw;

    background-color: rgba(0,0,0,0.6);

}

.signoutButton {

    color: white;
    --background: #305C8F;

    text-transform: none;

    font-family: Verdana, sans-serif;
    font-size: 12px;

    padding-left: 10px;
    padding-top: 10px;

}

.mainmenuIcon {

    width: 134px;
    padding-left: 10px;

}

.coinImg {

    width: 20px;

}

