.tolevskiIcon {

    width: 180px;
    
}

.startupButtons {

    color: white;
    --background: #305C8F;
    
    width: 130px;
    min-width: 130px;
    max-width: 130px;

    text-transform: none;

    font-family: Verdana, sans-serif;
    font-size: 13px;

}
