<ion-content [fullscreen]="true">

  <div class="centered">

    <div>

      INSERT IMAGE HERE

    </div> <br />

    <div>

      <ion-text> Welcome to </ion-text>

    </div> <br />

    <div>

      <ion-text> FlyDreamAir <br /> Loyalty Program </ion-text>

    </div> <br />

    <div> 

      <ion-button shape="round" (click)="loginPage()">Login</ion-button>

    </div> <br />

    <div> 
      <ion-button shape="round" (click)="signupPage()">Sign Up</ion-button>
    </div>
    
    
  </div>

</ion-content>