<ion-content [fullscreen]="true">
  
  <div class="centered">

    <div>

      INSERT IMAGE HERE

    </div> <br />

    <div>

      Welcome Back!

    </div> <br />

    <div> 

      <ion-item class="classItem">

        <ion-input placeholder="Email" class="classInput"></ion-input>

      </ion-item>

      <ion-item class="classItem">

        <ion-input placeholder="Password" class="classInput"></ion-input>

      </ion-item>

    </div> <br />

    <div>

      <ion-button shape="round" class="classButton" (click)="login()">Log In</ion-button>
      <ion-button shape="round" class="classButton separateButtons" (click)="startupPage()">Back</ion-button>

    </div>

  </div>

</ion-content>


