<ion-content [fullscreen]="true">
  
  <div class="centered">

    <div>

      INSERT IMAGE HERE

    </div> <br />

    <div>

      Welcome Back!

    </div> <br />

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div> 

        <ion-item class="classItem">

          <ion-input placeholder="Email" class="classInput" formControlName="email" (click)="onTextClick()"></ion-input>
          
        </ion-item>

        <ion-label class="ionLabel" color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"> Email is mandatory </ion-label>
        <ion-label class="ionLabel" color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']"> Email is invalid </ion-label>
        <ion-label class="ionLabel" color="danger" *ngIf="!emailInUse"> Email is already in use </ion-label> 

        <ion-item class="classItem">

          <ion-input placeholder="Password" class="classInput" formControlName="password" (click)="onTextClick()"></ion-input>
          
        </ion-item>

        <ion-label class="ionLabel" color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']"> Password is mandatory </ion-label>
        <ion-label class="ionLabel" color="danger" *ngIf="incorrectPassword"> Password is not correct </ion-label> 

      </div> <br />

      <div>

        <ion-button shape="round" class="classButton" type="submit" [disabled]="!form.valid">Log In</ion-button>
        <ion-button shape="round" class="classButton separateButtons" (click)="startupPage()">Back</ion-button>

      </div>
    
    </form>

  </div>

</ion-content>


