<ion-content [fullscreen]="true" class="background">
  
  <div class="centered backgroundOverlay">

    <div style="margin-bottom: 20px;">

      <ion-img src="./assets/images/tolevskiIcon.png/" class="tolevskiIcon"></ion-img>

    </div> <br />

    <div style="font-family: Verdana, sans-serif; font-size: 35px; margin-bottom: 20px;">

      Welcome <br /> Back

    </div> <br />

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div> 

        <ion-item class="classItem">

          <ion-input placeholder="Email" class="classInput" formControlName="email" (click)="onTextClick()"></ion-input>
          
        </ion-item>

        <ion-label class="ionLabel" color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"> Email is mandatory </ion-label>
        <ion-label class="ionLabel" color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['email']"> Email is invalid </ion-label>
        <ion-label class="ionLabel" color="danger" *ngIf="!emailInUse"> Email is already in use or is invalid. </ion-label> 

        <ion-item class="classItem" style="margin-top: 10px;">

          <ion-input placeholder="Password" class="classInput" formControlName="password" (click)="onTextClick()"></ion-input>
          
        </ion-item>

        <ion-label class="ionLabel" color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.errors?.['required']"> Password is mandatory </ion-label>
        <ion-label class="ionLabel" color="danger" *ngIf="incorrectPassword"> Password is not correct </ion-label> 

      </div> <br />

      <div>

        <ion-button shape="round" class="classButton startupButtons" type="submit" [disabled]="!form.valid">
          
          <img src="./assets/images/loginButton.png/" class="planeIcon" />

          Log In
        
        </ion-button>

        <ion-button shape="round" class="classButton separateButtons startupButtons" (click)="startupPage()">Back</ion-button>

      </div>
    
    </form>

  </div>

</ion-content>


