<head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet">

</head>

<div *ngIf="overlayOn" class="overlay blackOverlay overlayDiv">

  <ion-card class="cardOverlay overlayCardBackground" style="color: black; font-family: Verdana, sans-serif">

    <div style="display: block; align-items: left; justify-content: left; text-align: left;" class="backButton">
      <ion-button (click)="back()"> Back </ion-button> 
    </div>

    <ion-row  style="margin-top: 10px;"> 

      <ion-col style="text-align: center; display: flex; align-items: center; justify-content: center;">
        <div>

        <ion-img src="./assets/images/shopInFlight.png/"></ion-img>

        </div>
      </ion-col>
      
      <ion-col>
      <div style="text-align: left; display: block; align-items: left; justify-content: left;">

          {{accountFlights[flightIndex].finalDestination}} from <br />{{accountFlights[flightIndex].startDestination}} <br /> <br />
          {{accountFlights[flightIndex].date}} <br /> <br />
          Flight Duration: <br /> {{accountFlights[flightIndex].duration}} hours <br /> <br />
          {{accountFlights[flightIndex].class}} Class <br /> <br />
          Seat: {{accountFlights[flightIndex].seatNum}} <br /> <br />
          Baggage: {{accountFlights[flightIndex].baggageAllowance}}kg <br /> <br />
        
      </div>
      </ion-col>

    </ion-row>

    <ion-row> 

      <ion-col style="text-align: right; display: block; align-items: right; justify-content: right;">

        Added Items: 

      </ion-col>

      <ion-col style="text-align: left; display: block; align-items: left; justify-content: left;">

        <br />

        <li *ngFor="let item of accountFlights[flightIndex].usedItems">

          <span *ngIf="item.itemName != 'Wi-Fi'"> {{item.quantity}} </span> {{item.itemName}} 

        </li>

      </ion-col>

    </ion-row>




    <ion-card style="position: absolute; bottom: 0px; left: 0px; right: 0px;" class="shopButtons" >

      <div *ngIf="!optionChosen">

      <ion-row>

        <ion-col class="centering">

          <ion-card class="buttonText" (click)="upgradeFlight()" [disabled]=true *ngIf="accountFlights[flightIndex].class == 'First'"> 
            
            <div><ion-img src="./assets/images/upgradeTicket.png/"></ion-img> </div>
            <div> Upgrade Flight </div> 
          
          </ion-card>

          <ion-card class="buttonText" (click)="upgradeFlight()"  *ngIf="accountFlights[flightIndex].class != 'First'"> 
            
            <div><ion-img src="./assets/images/upgradeTicket.png/"></ion-img> </div>
            <div> Upgrade Flight </div> 
          
          </ion-card>

        </ion-col>

        <ion-col class="centering">

          <ion-card class="buttonText" (click)="getWifi()" [disabled]=true *ngIf="alreadyHasWifi"> 
            
            <div><ion-img src="./assets/images/wifiTicket.png/"></ion-img></div>
            <div> Get Wi-Fi </div>
          
          </ion-card>

          <ion-card class="buttonText" (click)="getWifi()" *ngIf="!alreadyHasWifi"> 
            
            <div><ion-img src="./assets/images/wifiTicket.png/"></ion-img></div>
            <div> Get Wi-Fi </div>
          
          </ion-card>

        </ion-col>

      </ion-row>

      <ion-row>

        <ion-col class="centering">

          <ion-card class="buttonText" (click)="luggageAllowance()" [disabled]="true" *ngIf="accountFlights[flightIndex].baggageAllowance == 9">
            
            <ion-img src="./assets/images/luggageTicket.png/"></ion-img> 
            
            Luggage Allowance 
          
          </ion-card>
          
            <ion-card class="buttonText" (click)="luggageAllowance()" *ngIf="accountFlights[flightIndex].baggageAllowance != 9"> 
              
              <div><ion-img src="./assets/images/luggageTicket.png/"></ion-img>  </div>
              <div> Luggage Allowance </div> 
            
            </ion-card>

        </ion-col>

        <ion-col class="centering">

          <ion-card class="buttonText" (click)="addItems()"> 
            
            <div><ion-img src="./assets/images/itemTicket.png/"></ion-img> </div>
            <div> Add Items </div> 
          
          </ion-card>

        </ion-col>

      </ion-row>

      </div>



      <!-- Upgrade Flight -->

      <div *ngIf="optionChosen && flightChosen">

        <div style="display: block; align-items: left; justify-content: left; text-align: left;">
          <ion-button (click)="back2()"> Back </ion-button> 
        </div>


        <ion-segment value="accountFlights[flightIndex].class" style="margin-top: 20px; display: flex;" class="flightChanges2">

          <ion-segment-button value="Economy" (click)="pickClass('Economy')" [disabled]=true *ngIf="accountFlights[flightIndex].class != 'Economy'"> <ion-label> Eco </ion-label> </ion-segment-button>
          <ion-segment-button value="Economy" (click)="pickClass('Economy')" *ngIf="!(accountFlights[flightIndex].class != 'Economy')"> <ion-label> Eco </ion-label> </ion-segment-button>

          <ion-segment-button value="Economy Plus" (click)="pickClass('Economy Plus')" [disabled]=true *ngIf="(accountFlights[flightIndex].class != 'Economy') && (accountFlights[flightIndex].class != 'Economy Plus')"> <ion-label> Eco + </ion-label> </ion-segment-button>
          <ion-segment-button value="Economy Plus" (click)="pickClass('Economy Plus')" *ngIf="!((accountFlights[flightIndex].class != 'Economy') && (accountFlights[flightIndex].class != 'Economy Plus'))"> <ion-label> Eco + </ion-label> </ion-segment-button>

          <ion-segment-button value="Business" (click)="pickClass('Business')" [disabled]=true *ngIf="(accountFlights[flightIndex].class != 'Economy') && (accountFlights[flightIndex].class != 'Economy Plus') && (accountFlights[flightIndex].class != 'Business')"> <ion-label> Bus </ion-label> </ion-segment-button>
          <ion-segment-button value="Business" (click)="pickClass('Business')" *ngIf="!((accountFlights[flightIndex].class != 'Economy') && (accountFlights[flightIndex].class != 'Economy Plus') && (accountFlights[flightIndex].class != 'Business'))"> <ion-label> Bus </ion-label> </ion-segment-button>

          <ion-segment-button value="First" (click)="pickClass('First')"> <ion-label> First </ion-label> </ion-segment-button>

        </ion-segment>

        <div *ngIf="chosenClass != accountFlights[flightIndex].class" style="margin-top: 20px;">

          <div> An upgrade to {{this.chosenClass}} Class will cost {{this.classCost}} Points. </div> <br />

          <ion-button (click)="purchaseClass()" [disabled]=true *ngIf="!(accountDetails.points >= classCost)"> Purchase </ion-button>
          <ion-button (click)="purchaseClass()" *ngIf="accountDetails.points >= classCost"> Purchase </ion-button>

          <div *ngIf="!(accountDetails.points >= classCost)"> You have insufficient points for this upgrade. </div>

        </div>

      </div>




      <!-- Get Wi-Fi -->

      <div *ngIf="optionChosen && wifiChosen">

        <div style="display: block; align-items: left; justify-content: left; text-align: left;">
          <ion-button (click)="back2()"> Back </ion-button> 
        </div> <br /> <br />


        For a {{this.accountFlights[flightIndex].duration}} hour flight,
        Wi-Fi <br /> costs {{100 * this.accountFlights[flightIndex].duration}} Points: <br /> <br />

        <ion-button (click)="addWifi()"> Purchase </ion-button> <br />

        <div *ngIf="!canPayWifi"> You do not have enough points to pay for Wi-Fi. </div>
        
      </div>




      <!-- Luggage Allowance -->

      <div *ngIf="optionChosen && luggageChosen">

        <div style="display: block; align-items: left; justify-content: left; text-align: left;">
          <ion-button (click)="back2()"> Back </ion-button> 
        </div>

        <ion-segment value="accountFlights[flightIndex].baggageAllowance" style="margin-top: 20px; display: flex;" class="flightChanges">

          <ion-segment-button value="1" (click)="pickBaggage(1)" [disabled]=true *ngIf="accountFlights[flightIndex].baggageAllowance > 1"> 1kg </ion-segment-button>
          <ion-segment-button value="1" (click)="pickBaggage(1)" *ngIf="!(accountFlights[flightIndex].baggageAllowance > 1)"> 1kg </ion-segment-button>

          <ion-segment-button value="2" (click)="pickBaggage(2)" [disabled]=true *ngIf="accountFlights[flightIndex].baggageAllowance > 2"> 2kg </ion-segment-button>
          <ion-segment-button value="2" (click)="pickBaggage(2)" *ngIf="!(accountFlights[flightIndex].baggageAllowance > 2)"> 2kg </ion-segment-button>

          <ion-segment-button value="3" (click)="pickBaggage(3)" [disabled]=true *ngIf="accountFlights[flightIndex].baggageAllowance > 3"> 3kg </ion-segment-button>
          <ion-segment-button value="3" (click)="pickBaggage(3)" *ngIf="!(accountFlights[flightIndex].baggageAllowance > 3)"> 3kg </ion-segment-button>

          <ion-segment-button value="5" (click)="pickBaggage(5)" [disabled]=true *ngIf="accountFlights[flightIndex].baggageAllowance > 5"> 5kg </ion-segment-button>
          <ion-segment-button value="5" (click)="pickBaggage(5)" *ngIf="!(accountFlights[flightIndex].baggageAllowance > 5)"> 5kg </ion-segment-button>

          <ion-segment-button value="9" (click)="pickBaggage(9)" [disabled]=true *ngIf="accountFlights[flightIndex].baggageAllowance > 9"> 9kg </ion-segment-button>
          <ion-segment-button value="9" (click)="pickBaggage(9)" *ngIf="!(accountFlights[flightIndex].baggageAllowance > 9)"> 9kg </ion-segment-button>

        </ion-segment>

        <div *ngIf="chosenBaggage > accountFlights[flightIndex].baggageAllowance" style="margin-top: 20px;">

          <div> An upgrade to {{this.chosenBaggage}}kg will cost {{this.weightCost}} Points. </div> <br />

          <ion-button (click)="purchaseBaggage()" [disabled]=true *ngIf="!(accountDetails.points >= weightCost)"> Purchase </ion-button>
          <ion-button (click)="purchaseBaggage()" *ngIf="accountDetails.points >= weightCost"> Purchase </ion-button>

          <div *ngIf="!(accountDetails.points >= weightCost)"> You have insufficient points for this upgrade. </div>

        </div>

 
      </div>




      <!-- Add Item -->

      <div *ngIf="optionChosen && itemsChosen">

        <div style="display: block; align-items: left; justify-content: left; text-align: left;">
          <ion-button (click)="back2()"> Back </ion-button> 
        </div>

        
        <!-- List items w/ thing to select how many you want to add -->

       <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">

        <ion-select *ngFor="let item of accountDetails.items; let j = index" label="{{item.itemName}}" class="selectScreen" (ionChange)="selectionMade($event,j);">

            <ion-select-option *ngFor="let choice of itemQuantityRanges[j]" value="{{choice}}"> {{choice}} </ion-select-option>

        </ion-select>

      </div>

        <!-- Button to add items -->
        <!-- Button should remove items from the list as well (either quantity or whole item if it goes to zero)-->

        <ion-button (click)="addItemsButton()" class="addItemButton"> Add Items </ion-button>








        
      </div>



    </ion-card>




  </ion-card>

</div>

<ion-content [fullscreen]="true" class="background">

  <div class="backgroundOverlay">

    <div class="widthCentering">
    <ion-card class="bagLabel" style="background-color: rgba(0,0,0,0.6); padding: 10px;">

      <span style="font-family: 'Zen Dots', sans-serif; font-weight: bold; color: white;"> MY FLIGHTS </span>
  
    </ion-card> 
    </div>

  <ion-card *ngFor="let flight of accountFlights; let i = index" class="flightCards" (click)="openTicket(i)">

    <div class="overlay greenOverlay" *ngIf="flight.status === 'complete'" style="display: flex; text-align: center; justify-content: center; align-items: center;"> 

      <div> 
        
        <b> <span style="font-size: 25px; color: rgb(18, 87, 18);"> COMPLETE <br />
        Awarded Points: {{this.pointsOwed[i]}} </span> </b>
      
      </div>

    </div>

    
    <div style="padding-left: 50px;">

      <ion-img src="./assets/images/shopInFlight.png/"></ion-img>

    </div> 
      
    <div class="rightDiv" style="color: black; font-family: 'Verdana', sans-serif;">

        <div>{{flight.finalDestination}} from <br />{{flight.startDestination}}</div> <br />
        <div>{{flight.date}}</div> <br />
        <div>{{flight.class}} Class</div> <br />
        <div>Seat: {{flight.seatNum}}</div> <br />
      
    </div>

  </ion-card>

  </div>

</ion-content>





<ion-footer *ngIf="!overlayOn"> 

  <ion-row> <ion-toolbar> 

    <ion-segment value="flights">

      <ion-segment-button value="home" (click)="goHome()">

        <ion-img src="./assets/images/footerHome.png/" class="footerIcon"></ion-img>
        <ion-label> Home </ion-label>

      </ion-segment-button>

      <ion-segment-button value="flights" (click)="goFlights()">

        <ion-img src="./assets/images/footerTickets.png/" class="footerIcon"></ion-img>
        <ion-label> Flights </ion-label>

      </ion-segment-button>

      <ion-segment-button value="shop" (click)="goShop()">

        <ion-img src="./assets/images/footerShop.png/" class="footerIcon"></ion-img>
        <ion-label> Shop </ion-label>

      </ion-segment-button>
    
      <ion-segment-button value="bag" (click)="goBag()">

        <ion-img src="./assets/images/footerBag.png/" class="footerIcon"></ion-img>
        <ion-label> Bag </ion-label>

      </ion-segment-button>

      <ion-segment-button value="luckydip" (click)="goLuckyDip()">

        <ion-img src="./assets/images/footerLuckyDip.png/" class="footerIcon"></ion-img>
        <ion-label> Lucky Dip </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar> </ion-row>

</ion-footer>

