.flightLabel {

    justify-content: center;
    align-items: center;

}

.flightCards {

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.rightDiv {

    padding-left: 20vw;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;

}