<ion-content [fullscreen]="true" class="background">

  <div class="backgroundOverlay">
  
  <ion-card class="bagLabel">

    <span> MY ITEMS </span>

  </ion-card>

  <ion-card *ngFor="let item of accountItems" class="bagCards">

    <div>ITEM IMAGE</div> 
    
    <div class="rightDiv">

      <div>{{item.itemName}}</div> <br />
      <div> Quantity: {{item.quantity}} </div>

    </div>

  </ion-card>

  </div>

</ion-content>


<ion-footer> 

  <ion-row> <ion-toolbar> 

    <ion-segment value="bag">

      <ion-segment-button value="home" (click)="goHome()">

        <ion-img src="./assets/images/footerHome.png/" class="footerIcon"></ion-img>
        <ion-label> Home </ion-label>

      </ion-segment-button>

      <ion-segment-button value="flights" (click)="goFlights()">

        <ion-img src="./assets/images/footerTickets.png/" class="footerIcon"></ion-img>
        <ion-label> Flights </ion-label>

      </ion-segment-button>

      <ion-segment-button value="shop" (click)="goShop()">

        <ion-img src="./assets/images/footerShop.png/" class="footerIcon"></ion-img>
        <ion-label> Shop </ion-label>

      </ion-segment-button>
    
      <ion-segment-button value="bag" (click)="goBag()">

        <ion-img src="./assets/images/footerBag.png/" class="footerIcon"></ion-img>
        <ion-label> Bag </ion-label>

      </ion-segment-button>

      <ion-segment-button value="luckydip" (click)="goLuckyDip()">

        <ion-img src="./assets/images/footerLuckyDip.png/" class="footerIcon"></ion-img>
        <ion-label> Lucky Dip </ion-label>

      </ion-segment-button>

    </ion-segment>

  </ion-toolbar> </ion-row>

</ion-footer>
