

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">bag</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-footer> 

  <ion-row> <ion-toolbar> 

    <ion-segment value="bag">

        <ion-segment-button value="home" (click)="goHome()">

          <ion-label> Home </ion-label>

        </ion-segment-button>

        <ion-segment-button value="flights" (click)="goFlights()">

          <ion-label> Flights </ion-label>

        </ion-segment-button>

        <ion-segment-button value="shop" (click)="goShop()">

          <ion-label> Shop </ion-label>

        </ion-segment-button>
      
        <ion-segment-button value="bag" (click)="goBag()">

          <ion-label> Bag </ion-label>

        </ion-segment-button>

        <ion-segment-button value="luckydip" (click)="goLuckyDip()">

          <ion-label> Lucky Dip </ion-label>

        </ion-segment-button>

    </ion-segment>

  </ion-toolbar> </ion-row>

</ion-footer>
