.bagLabel {

    justify-content: center;
    align-items: center;

}

.bagCards {

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;

    background-color: #D9D9D9;
    color: black;


}

.rightDiv {

    padding-left: 20vw;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    
}

.imageSize ion-img {

    height: 50px;

}

.advent-pro {
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }